div.container {
    display: flex;
    border: solid 6px black;
    height: 300px; 
    align-items: flex-end;
}
.filhos {
    background-color: red;
    width: 100px;
    height: 100px;
    margin: 20px;
    border: solid 1px black;
    text-align: center;
    font-weight: 700;
}
