body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}



.filhos {
    background-color: red;
    width: 100px;
    height: 100px;
    margin: 20px;
    border: solid 1px black;
    text-align: center;
    font-weight: 700;
    flex-grow: 0;
}




.container {

    display: flex;
    border: solid 6px black;
    width: 700px;
    justify-content: center;
    align-items: center;

}


/* responsive: */


@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
        width: 250px;
    }
}