body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura total da viewport */
}



.container {
    background-color: lightblue;
    display: flex;
    border: solid 6px black;
    height: 200px;
    width: 200px;
    flex-wrap: wrap;
    flex-direction: row;
}