* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}


.caixa{
    background-color: aqua;
    border: 2px solid black;
    padding: 20px;
    text-align: center;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 150px);
    gap: 20px;
}